@use "@/app/styles/generic/mixins";

.open-content {
  position: relative;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    opacity: 0;
    pointer-events: none;

    @include mixins.breakpoint-up(mobile) {
      opacity: 0.4;
      background-image: url("/assets/open-content.svg");
      background-position: right top;
      background-repeat: repeat-y;
    }
  }
}
