@use "@/app/styles/generic/mixins";

.open-content {
  position: relative;
  @include mixins.breakpoint-up(mobile) {
    background-image: url("/assets/open-content.svg");
    background-position: right top;
    background-repeat: repeat-y;
  }
}
