@use "@/app/styles/generic/mixins";

.careers-open-role {
  &__container {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    justify-content: space-between;
    gap: 0rem;
    padding-left: 0;
    padding-right: 0;
  }

  &__title {
    margin-bottom: var(--spacing-md);
    color: var(--Foundation-Orchestrated-Green);
  }

  &__content {
    flex: 1 0 100%;
    padding: 1rem;
    font-size: 1.125rem;
    line-height: 1.75rem;
    order: 2;

    h2 {
      margin-bottom: 2rem;
      // margin-top: 6.25rem;
      // &:first-of-type {
      //   margin-top: 0;
      // }
    }

    h3 {
      margin-bottom: 1.5rem;
    }

    p {
      margin-bottom: 1.5rem;
    }

    ul {
      margin-bottom: 2.5rem;
      list-style: none;
      padding-left: 2rem;

      li {
        position: relative;
        margin-left: 2rem;
        margin-bottom: 0.75rem;

        &:before {
          position: absolute;
          display: block;
          width: 0.5rem;
          height: 0.5rem;
          left: -2rem;
          top: 0.5rem;
          background-color: var(--Foundation-Operational-Green);
          border-radius: 0.25rem;
          content: "";
        }
      }
    }

    hr {
      margin-top: 2rem;
      margin-bottom: 2rem;
    }
  }

  &__details {
    flex: 1 0 100%;
    padding: 2.5rem 1.5rem;
    background-color: var(--Foundation-Commerce-Canvas);
    order: 1;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;

    @include mixins.breakpoint-up(mobile) {
      position: sticky;
      top: 10rem;
    }

    &__location,
    &__team {
      // margin-bottom: 0.25rem;
    }

    &__label {
      // margin-bottom: 0.125rem;
      font-size: 1.125rem;
      font-weight: var(--desktop-body-large-bold-font-weight);
      display: flex;
      // justify-content: center;
      align-items: center;
      gap: 0.75rem;

      > svg {
        width: 1.3775rem;
        height: 1.39719rem;

        > path {
          fill: none;
        }
      }
    }

    &__content {
      margin-left: 2.125rem;
    }

    &__button {
      display: inline-flex;
      flex-flow: row nowrap;
      align-items: center;
      margin-top: var(--spacing-md);
      padding: 0.75rem 1.5rem;
      background-color: var(--Foundation-Signal-Green);
      color: var(--Foundation-Black);
      font-weight: var(--form-button-font-weight);
      font-size: var(--form-button-font-size);
      line-height: var(--form-button-line-height);
      text-decoration: none;
      border: none;
      transition: background-color var(--transition);

      &:hover {
        cursor: pointer;
        background-color: #00d18099;
      }

      &__dot {
        display: block;
        width: 0.5rem;
        height: 0.5rem;
        margin-right: 0.75rem;
        background-color: var(--Foundation-Black);
        border-radius: 1rem;
      }
    }
  }

  @include mixins.breakpoint-up(tablet) {
    position: relative;

    .careers-open-role {
      &__container {
        flex-flow: row nowrap;
        align-items: flex-start;
        gap: 7rem;
        padding-top: 5rem;
        padding-bottom: 5rem;
        padding-left: var(--outer-margin-md);
        padding-right: var(--outer-margin-md);
      }

      &__content {
        flex: 1 1 calc(100% - 24rem);
        order: 1;
      }

      &__details {
        flex: 1 0 17rem;
        padding: var(--spacing-xl) var(--spacing-md);
        order: 2;
      }
    }
  }

  &:after {
    @include mixins.breakpoint-up(mobile) {
      content: "";
      width: 8rem;
      height: 100%;
      position: absolute;
      right: 0;
      bottom: 0;
      top: 0;
      background: url(/assets/pattern-13.svg) no-repeat;
      background-position: top right;
    }
  }

  > * {
    position: relative;
    z-index: 1;
  }
}
