@use "@/app/styles/generic/text-styles";
@use "@/app/styles/generic/mixins";

.text-and-image {
  padding: 3rem 0;

  @include mixins.breakpoint-up(mobile) {
    padding: 5rem 0;
  }

  &__container {
    row-gap: 3rem;
  }

  &__image {
    width: 100%;
    grid-column: 1 / span 4;

    @include mixins.breakpoint-up(mobile) {
      grid-column: 7 / span 6;
      grid-row: 1 / span 2;

      &.reverse {
        grid-column: 1 / span 6;
      }
    }
  }

  &__content {
    grid-column: 1 / span 4;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;

    @include mixins.breakpoint-up(mobile) {
      grid-column: 1 / span 6;

      justify-content: flex-start;
      align-items: flex-start;

      &.reverse {
        grid-column: 7 / span 6;
      }
    }
  }

  &__copy {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: center;

    @include mixins.breakpoint-up(mobile) {
      text-align: left;
    }

    p {
    }
  }
}
