/** @format */

@use "mixins";
@use "text-styles";

.four-o-four {
  background: var(--Foundation-Black, #1e2221);
  padding: 18.5rem 0 6.25rem;
  position: relative;

  @include mixins.breakpoint-up(mobile) {
    padding: 12.5rem 0;
  }

  &:before {
    @include mixins.breakpoint-up(mobile) {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;

      width: 38.375rem;
      height: calc(100% - 7rem);
      background-image: url("/assets/header-texture-left.svg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: bottom left;
    }
  }

  &:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("/assets/header-mobile.svg");
    height: 100%;
    width: 100%;
    z-index: 1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom right;

    @include mixins.breakpoint-up(mobile) {
      left: unset;
      width: 38.375rem;
      height: calc(100% - 7rem);
      background-image: url("/assets/header-texture-right.svg");
      background-position: bottom right;
      background-size: contain;
    }
  }

  > * {
    position: relative;
    z-index: 2;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    background: var(--Foundation-Black, #1e2221);
    padding: 1.5rem 1rem;

    @include mixins.breakpoint-up(mobile) {
      padding: 0;
      background: none;
    }
  }

  &__title {
    @include text-styles.text-style("desktop-stats");
    color: var(--Foundation-Signal-Green, #00d180);
  }

  &__cta-title {
    @include text-styles.text-style("mobile-h4");
    color: var(--Foundation-White, #ffffff);

    @include mixins.breakpoint-up(mobile) {
      @include text-styles.text-style("desktop-h4");
    }
  }
}
