/**
* Button Base Mixin
*/

/** @format */

@use "functions";

/**
* Breakpoints
*
*/

$breakpoints: (
  mobile-smallest: 320px,
  mobile-small: 370px,
  mobile-medium: 575px,
  mobile: 767px,
  mobile-2: 789px,
  admin-bar: 782px,
  before-tablet: 821px,
  tablet: 1023px,
  small-desktop: 1279px,
  large-desktop: 1399px,
  massive: 1500px,
);

@mixin breakpoint-up($name, $breakpoints: $breakpoints) {
  $min: functions.breakpoint-min($name, $breakpoints);

  @media only screen and (min-width: $min) {
    @content;
  }
}

@mixin breakpoint-down($name, $breakpoints: $breakpoints) {
  $max: functions.breakpoint-max($name, $breakpoints);

  @if $max == 767px {
    @media (max-width: $max), screen and (max-width: $responsive-ios) and (orientation: landscape) {
      @content;
    }
  } @else {
    @media only screen and (max-width: $max) {
      @content;
    }
  }
}

/**
 * Flex
 */

@mixin flex-parent($direction: column, $wrap: wrap, $justify: space-between, $align: center) {
  display: flex;
  flex-wrap: $wrap;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}
