@use "@/app/styles/generic/text-styles";
@use "@/app/styles/generic/mixins";

.postTldr {
  padding: 2.5rem 0;

  @include mixins.breakpoint-up(mobile) {
    padding: 2rem 0;
  }

  &__container {
    @include mixins.breakpoint-up(tablet) {
      display: grid;
      grid-template-columns: repeat(12, minmax(0, 1fr));
      gap: 1.5rem;
    }
  }

  &__card {
    background: linear-gradient(to right, #f2f6f3 26.722%, #beccc5 100%);
    border-radius: 0.75rem;
    padding: 1rem 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--Foundation-Black, #1e2221);

    @include mixins.breakpoint-up(mobile) {
      grid-column: 2 / span 9;

      padding: 2.5rem 3rem;
    }
  }

  &__title {
    @include text-styles.text-style("mobile-h5");
    letter-spacing: 0.18px;

    @include mixins.breakpoint-up(mobile) {
      @include text-styles.text-style("desktop-h5");
    }
  }

  &__list {
    @include text-styles.text-style("mobile-body-large");
    list-style: disc;
    padding-left: 1.25rem;

    @include mixins.breakpoint-up(mobile) {
      @include text-styles.text-style("desktop-body-large");
    }
  }
}
