@use "@/app/styles/generic/text-styles";
@use "@/app/styles/generic/mixins";

.contact {
  &__details {
    display: flex;
    flex-direction: column;
    gap: 2.56rem;

    @include mixins.breakpoint-up(mobile) {
      gap: 2.69rem;
    }

    h2 {
      // // @extend.primary-h6;
      color: var(--blue-100, #e8eef4);
      text-transform: uppercase;
      position: relative;
      width: 100%;
      &::after {
        content: "";
        position: absolute;
        bottom: -0.5rem;
        left: 0;
        width: 100%;
        height: 1px;
        background: var(--green-light, #7bdb40);
      }
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: column;
      gap: 2rem;

      @include mixins.breakpoint-up(mobile) {
        gap: 1.25rem;
      }

      a {
        display: flex;
        align-items: center;
        gap: 0.38rem;
        color: var(--blue-100, #e8eef4);
        // // @extend.primary-h5;
        text-decoration: none;

        svg {
          path {
            fill: var(--blue-100, #e8eef4);
          }
        }

        &:hover,
        &:focus-visible {
          color: var(--green-light, #7bdb40);

          svg {
            path {
              fill: var(--green-light, #7bdb40);
            }
          }
        }

        &:focus-visible {
          outline: 2px solid var(--green-light, #7bdb40);
          outline-offset: 2px;
        }
      }
    }
  }
}
