/** @format */

@use "@/app/styles/generic/mixins";
@use "@/app/styles/generic/text-styles";

.nav {
  &__item {
    .trigger {
      display: flex;
      align-items: center;
      gap: 0.9rem;
      transition: all 0.2s ease-in;
      color: var(--Foundation-Black, #1e2221);
      @include text-styles.text-style("mobile-h4");
      padding: 0.44rem 0;
      background: none;
      border: none;

      &.show {
        .icon--down {
          transform: rotate(180deg);
        }
      }

      &.active {
        color: var(--rose, #d60270);
        svg {
          path {
            fill: var(--rose, #d60270);
          }
        }
      }

      &:hover,
      &:focus-visible {
        color: var(--rose, #d60270);
      }

      &:focus-visible {
        outline: 4px solid var(--rose, #d60270);
        border-radius: 0.25rem;
        outline-offset: 0.25rem;
      }
    }

    &-children {
      position: fixed;
      top: 10rem;
      bottom: 0;
      right: -100%;
      width: 100%;
      z-index: 5;
      height: calc(100vh - 10rem);

      transition: all 0.3s ease-in;
      background: var(--Foundation-White, #fff);

      display: flex;
      flex-direction: column;

      &.hide {
        right: -100%;
        visibility: hidden;
      }

      &.show {
        right: 0;
        visibility: visible;
      }

      &-back {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        background: none;
        border: none;
        color: var(--Foundation-Black, #1e2221);
        padding: 1.25rem 1.5rem;
        @include text-styles.text-style("mobile-h5");
        cursor: pointer;

        svg {
          transform: rotate(-180deg);
          height: 1.25rem;
          width: auto;
          path {
            fill: var(--Foundation-Signal-Green, #00d180);
          }
        }

        &:hover,
        &:focus-visible {
          color: var(--Foundation-Signal-Green, #00d180);
        }

        &:focus-visible {
          outline: 4px solid var(--Foundation-Signal-Green, #00d180);
          border-radius: 0.25rem;
          outline-offset: 0.25rem;
        }
      }

      &-container {
        border-radius: 0.5rem;
        border-top: 1px solid var(--Neutral-Mid-Grey, #beccc5);
        border-right: 1px solid var(--Neutral-Mid-Grey, #beccc5);
        border-left: 1px solid var(--Neutral-Mid-Grey, #beccc5);
        background: var(--Foundation-White, #fff);
        box-shadow: 0 4px 16px 6px rgba(0, 0, 0, 0.07);
        height: 100%;
        padding: 2rem 1.5rem;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        gap: 2rem;
      }

      &-group {
        &.platform {
          border-radius: 0.5rem;
          border: 0 solid var(--Foundation-Operational-Green, #007a4e);
          background: var(--Neutral-Soft-Grey, #deebe5);
          display: flex;
          max-width: 17rem;
          width: 100%;
          padding: 1rem;
          flex-direction: column;
          align-items: flex-start;
          ul {
            padding: 1rem 1.75rem;
          }
          .nav__item-children-heading {
            text-decoration: none;
          }
        }

        ul {
          padding: 1.5rem;
          display: flex;
          gap: 1.5rem;
          flex-direction: column;
        }
      }

      &-heading {
        color: var(--Foundation-Operational-Green, #007a4e);
        @include text-styles.text-style("mobile-h5");
        text-decoration: underline;
      }

      &-link {
        color: var(--Foundation-Black, #1e2221);
        @include text-styles.text-style("desktop-menu-label-18px-low-line-height");
        text-decoration: none;
      }
    }
  }
}
