@use "@/app/styles/generic/text-styles";
@use "@/app/styles/generic/mixins";

.primary-product-section {
  padding: 13.25rem 0 4rem;
  background: var(--Foundation-Commerce-Canvas, #f2f6f3);
  overflow: hidden;
  position: relative;

  /* shadow/inner */
  box-shadow: 0 0 32px 0 rgba(143, 154, 149, 0.3) inset;

  @include mixins.breakpoint-up(mobile) {
    padding: 5rem 0 8.75rem;
  }

  &__container {
    // display: grid;
    // gap: 1rem;

    // @include mixins.breakpoint-up(mobile) {
    //   grid-template-columns: repeat(12, minmax(0, 1fr));
    //   gap: 1.5rem;
    // }
  }

  &__svg {
    width: 12.13338rem;
    height: 12.30844rem;
    aspect-ratio: 69/70;
    position: absolute;
    top: -2rem;
    right: -4.5rem;

    @include mixins.breakpoint-up(mobile) {
      width: 30.1875rem;
      height: 30.625rem;
      aspect-ratio: 69/70;
      top: unset;
      right: -3rem;
      bottom: -17rem;
    }
  }

  &__list {
    display: grid;
    gap: 1rem;

    @include mixins.breakpoint-up(mobile) {
      grid-column: 7 / span 6;
      gap: 2rem;
    }

    &-title {
      @include text-styles.text-style("mobile-h3");
      color: var(--Foundation-Operational-Green, #007a4e);

      @include mixins.breakpoint-up(mobile) {
        @include text-styles.text-style("desktop-h2");
      }
    }
  }

  &__cta-desktop {
    display: none;

    @include mixins.breakpoint-up(mobile) {
      display: block;
    }
  }

  &__products {
    display: grid;
    gap: 1.5rem;
    list-style: none;

    @include mixins.breakpoint-up(mobile) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }

  &__product {
    text-decoration: none;
    padding: 3.4rem 1rem 2.5rem;
    background: var(--Foundation-White, #fff);
    box-shadow: 0 4px 16px 6px rgba(0, 0, 0, 0.07);
    position: relative;
    display: block;
    border: 1px solid var(--Neutral-Soft-Grey, #deebe5);

    /* shadow/drop 1 */
    box-shadow: 0 4px 16px 6px rgba(0, 0, 0, 0.07);
    transition: var(--transition);

    &:hover {
      border: 1px solid var(--Neutral-Dark-Grey, #8f9a95);

      .primary-product-section__product-title {
        background: rgba(0, 209, 128, 0.6);
      }
    }

    @include mixins.breakpoint-up(mobile) {
      display: flex;
      gap: 1.5rem;
      padding: 1rem 2rem 1rem 6rem;
    }

    &-icon {
      position: absolute;
      top: 0;
      right: 1.5rem;

      @include mixins.breakpoint-up(mobile) {
        right: unset;
        left: 0;
      }

      svg {
        width: 3.5rem;
        height: 3.5rem;

        @include mixins.breakpoint-up(mobile) {
          width: 6rem;
          height: 6rem;
        }
      }
    }

    &-content {
      display: grid;
      gap: 0.5rem;
    }

    &-title {
      color: var(--Foundation-Orchestrated-Green, #063e2d);
      @include text-styles.text-style("mobile-h4");
      transition: var(--transition);
      @include mixins.breakpoint-up(mobile) {
        @include text-styles.text-style("desktop-h4");
      }
    }

    &-description {
      color: var(--Foundation-Black, #1e2221);
      @include text-styles.text-style("body-default");
    }

    &-arrow {
      position: absolute;
      bottom: 1rem;
      right: 1.5rem;

      @include mixins.breakpoint-up(mobile) {
        top: 0;
        right: 0;
        bottom: unset;
        padding: 1rem;
      }
    }
  }
}
