@use "@/app/styles/generic/text-styles";
@use "@/app/styles/generic/mixins";

.accordion {
  width: 100%;
}

.accordion-item {
  box-shadow: 0 4px 16px 6px rgba(0, 0, 0, 0.07);
  // border-bottom: 2px solid var(--Foundation-Commerce-Canvas, #f2f6f3);
  // &.open {
  //   border-bottom: 2px solid var(--Foundation-Operational-Green, #007a4e);
  // }

  // &:hover,
  // &:focus-visible {
  //   border-bottom: 2px solid var(--Foundation-Operational-Green, #007a4e);
  // }
  &__trigger {
    // // @extend.secondary-copy-bold;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    text-align: left;
    gap: 2rem;
    // align-items: center;
    text-decoration: none;
    border: none;

    border-bottom: 2px solid var(--Foundation-Commerce-Canvas, #f2f6f3);

    background: var(--Foundation-White, #fff);
    padding: 0.75rem 1rem;
    transition: var(--transition);
    width: 100%;
    color: var(--Foundation-Black, #1e2221);
    @include text-styles.text-style("mobile-h5");

    /* shadow/drop 1 */

    /* shadow/drop 1 */
    // box-shadow: 0 4px 16px 6px rgba(0, 0, 0, 0.07);

    @include mixins.breakpoint-up(tablet) {
      @include text-styles.text-style("desktop-h5");
    }

    cursor: pointer;

    &:hover {
      @include mixins.breakpoint-up(tablet) {
        border-bottom: 2px solid var(--Foundation-Operational-Green, #007a4e);
      }
      color: var(--Foundation-Operational-Green, #007a4e);

      svg {
        path {
          fill: var(--Foundation-Operational-Green, #007a4e);
        }
      }
    }

    // &:focus-visible {
    //   outline: 2px solid var(--blue-500, #003f87);
    // }

    svg {
      flex-shrink: 0;
      transition: transform 0.3s ease;
      path {
        fill: var(--Neutral-Dark-Grey, #8f9a95);
      }
    }

    &.open {
      color: var(--Foundation-Operational-Green, #007a4e);

      svg {
        transform: rotate(180deg);
        path {
          fill: var(--Foundation-Operational-Green, #007a4e);
        }
      }
    }
  }

  &__content {
    overflow: hidden;
    transition: max-height 0.3s ease;
    background: #fff;
  }

  &.open &__content {
    border-bottom: 2px solid var(--Foundation-Operational-Green, #007a4e);
  }

  &__inner {
    // border-bottom: 2px solid transparent;
    padding: 2rem 1rem;
    background: var(--Foundation-White, #fff);
  }
}
