@use "@/app/styles/generic/text-styles";
@use "@/app/styles/generic/mixins";

.testimonial {
  &__container {
    padding-top: 7rem;
    padding-bottom: 4rem;
    position: relative;
    overflow: hidden;

    display: grid;
    gap: 3rem;
    place-items: center;

    @include mixins.breakpoint-up(mobile) {
      grid-template-columns: repeat(12, minmax(0, 1fr));
      gap: 1.5rem;
    }

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      z-index: 0;
      background-image: url("/assets/ck.png");
      background-repeat: repeat-y;
      background-size: contain;
      filter: blur(2px) grayscale(100%);
      pointer-events: none;

      @include mixins.breakpoint-up(mobile) {
        background-repeat: repeat-x;
      }
    }

    // Clear, single image
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 20.9375rem;
      z-index: 1;
      background-image: url("/assets/ck.png");
      background-repeat: no-repeat;
      background-position: left top;
      background-size: cover;

      pointer-events: none;

      @include mixins.breakpoint-up(mobile) {
        background-size: contain;
        height: 100%;
      }
    }

    > * {
      position: relative;
      z-index: 2;
    }
  }

  &__logo {
    background: var(--Foundation-White, #fff);
    width: 10.1875rem;
    height: 5.25656rem;

    @include mixins.breakpoint-up(mobile) {
      grid-column: 1 / span 3;
      width: 13.6875rem;
      height: 7.0625rem;
    }
  }

  // Ensure content is above backgrounds

  &__content {
    background: var(--Foundation-White, #fff);
    box-shadow: 0 4px 16px 6px rgba(0, 0, 0, 0.07);

    display: flex;
    padding: 2.5rem 1.5rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.625rem;
    align-self: stretch;

    @include mixins.breakpoint-up(mobile) {
      grid-column: 5 / span 8;

      padding: 2.5rem 3.5rem;
    }
  }

  &__text {
    color: var(--Foundation-Orchestrated-Green, #063e2d);
    @include text-styles.text-style("mobile-h4");
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  &__author {
    display: flex;
    gap: 1rem;
    align-items: center;

    p {
      color: var(--Foundation-Operational-Green, #007a4e);
      @include text-styles.text-style("mobile-h5");

      letter-spacing: 0.01125rem;
    }
    &-image {
      width: 4rem;
      height: 4rem;
      aspect-ratio: 1/1;
      border-radius: 50%;
      background: var(--Foundation-Signal-Green, #00d180);
    }
  }
}
