@use "@/app/styles/generic/text-styles";
@use "@/app/styles/generic/mixins";

.cta {
  padding: 4rem 0;
  background: var(--Foundation-Commerce-Canvas, #f2f6f3);

  @include mixins.breakpoint-up(mobile) {
    padding: 5.5rem 0;
  }

  &__content {
    background: var(--Gradient-Dark, linear-gradient(74deg, #1e2221 22.61%, #184c39 89.12%));
    padding: 3.5rem 1rem 3rem 1rem;
    display: grid;
    gap: 1rem;
    position: relative;

    @include mixins.breakpoint-up(mobile) {
      padding: 4rem 0;
      grid-template-columns: repeat(12, minmax(0, 1fr));
      gap: 1.5rem;
    }

    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      width: 100%;
      background: var(--Foundation-Signal-Green, #00d180);
      height: 0.75rem;
      bottom: -0.75rem;
    }
  }

  &__divider {
    @include mixins.breakpoint-up(mobile) {
      grid-column: 2 / span 11;
    }
  }

  &__header {
    display: grid;
    gap: 1rem;

    @include mixins.breakpoint-up(mobile) {
      grid-column: 1 / span 6;
      grid-template-columns: repeat(6, minmax(0, 1fr));
      gap: 1.5rem;
    }
  }

  &__text {
    display: grid;
    gap: 2.5rem;
    padding: 0 1.5rem;

    @include mixins.breakpoint-up(mobile) {
      grid-column: 2 / span 10;
      grid-template-columns: repeat(10, minmax(0, 1fr));
      gap: 1.5rem;
      padding: 0;
    }
  }

  &__subtitle {
    color: var(--Foundation-Signal-Green, #00d180);
    @include text-styles.text-style("mobile-caption");
    text-transform: uppercase;

    @include mixins.breakpoint-up(mobile) {
      @include text-styles.text-style("desktop-caption");
      margin-top: 0.5rem;
      grid-column: 1 / span 2;
    }
  }

  &__title {
    color: var(--Foundation-White, #fff);

    @include text-styles.text-style("mobile-h2");

    @include mixins.breakpoint-up(mobile) {
      font-size: 1.875rem;
      line-height: 120%; /* 2.25rem */
      letter-spacing: -0.01875rem;
      grid-column: 3 / span 5;
    }
  }

  &__button {
    @include mixins.breakpoint-up(mobile) {
      grid-column: 8 / span 3;
      // display: flex;
      // align-items: center;
    }
  }
}
