@use "@/app/styles/generic/text-styles";
@use "@/app/styles/generic/mixins";

.breadcrumbs {
  background: var(--Foundation-White, #fff);
  padding: 1.25rem 0;

  @include mixins.breakpoint-up(mobile) {
    padding: 1rem 0;
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;

    @include mixins.breakpoint-up(mobile) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__read-time {
    display: flex;
    align-items: center;
    gap: 0.375rem;
    flex-shrink: 0;
    color: var(--Foundation-Orchestrated-Green, #063e2d);
    @include text-styles.text-style("mobile-body-large");

    @include mixins.breakpoint-up(mobile) {
      padding: 0 1.5rem;
    }

    svg {
      flex-shrink: 0;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0;
    list-style: none;

    color: var(--Foundation-Black, #1e2221);

    .desktop-only {
      display: none;
    }

    @include mixins.breakpoint-up(mobile) {
      padding: 0 1.5rem;
      .desktop-only {
        display: inline;
      }
    }
  }

  &__link {
    color: var(--Foundation-Black, #1e2221);
    text-decoration: none;
    transition: var(--transition);
    @include text-styles.text-style("desktop-h5");

    &:hover,
    &:focus-visible {
      color: var(--Foundation-Operational-Green, #007a4e);
    }
  }

  &__separator {
    padding: 0 0.3rem;
    color: var(--Foundation-Black, #1e2221);
    user-select: none;

    &::after {
      content: ">";
    }
  }

  &__item {
    color: var(--Foundation-Operational-Green, #007a4e);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 24rem;
    @include text-styles.text-style("desktop-h5");

    @include mixins.breakpoint-up(mobile) {
      max-width: none;
    }
  }
}
