@use "@/app/styles/generic/text-styles";
@use "@/app/styles/generic/mixins";

.contact {
  padding: 2.5rem 0;

  @include mixins.breakpoint-up(tablet) {
    padding: 5rem 0;
  }

  &__container {
    row-gap: 2.5rem;
  }

  &__info {
    grid-column: 1 / span 4;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    @include mixins.breakpoint-up(tablet) {
      grid-column: 1 / span 6;
    }
  }

  &__form {
    grid-column: 1 / span 4;
    @include mixins.breakpoint-up(tablet) {
      grid-column: 7 / span 6;
    }
  }
}
