/** @format */

.burger {
  background: none;
  border: none;
  width: 2rem;
  height: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.375rem;
  cursor: pointer;
  position: relative;

  &:focus-visible {
    outline: 4px solid var(--copy);
    border-radius: 0.25rem;
    outline-offset: 0.25rem;
  }
}

.line {
  width: 1.125rem;
  height: 0.16669rem;
  background-color: var(--copy);
  transition: all 0.3s ease;
  transform-origin: center;
  display: block;
  border-radius: 0.25rem;

  .open & {
    &:nth-child(1) {
      transform: translateY(calc(0.375rem + 0.1rem)) rotate(45deg) scaleX(1.8);
    }

    &:nth-child(2) {
      opacity: 0;
      transform: scaleX(0);
    }

    &:nth-child(3) {
      transform: translateY(calc(-0.375rem - 0.2rem)) rotate(-45deg) scaleX(1.8);
    }
  }
}
