@use "@/app/styles/generic/mixins";
@use "@/app/styles/generic/text-styles";

.quote {
  padding-top: 3rem;
  padding-bottom: 3rem;
  position: relative;
  overflow: hidden;

  @include mixins.breakpoint-up(mobile) {
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    gap: 1.5rem;
  }

  &:after {
    content: "";
    background: linear-gradient(270deg, rgba(0, 209, 128, 0) 82.67%, rgba(0, 209, 128, 0.6) 99.94%);
    position: absolute;
    width: 100%;
    height: calc(100% - 6rem);
    top: 3rem;
    left: 0;
    z-index: 1;

    @include mixins.breakpoint-up(mobile) {
      height: calc(100% - 4rem);
      top: 2rem;

      left: 15rem;
    }
  }

  &__content {
    padding: 1.5rem 1rem;

    @include mixins.breakpoint-up(mobile) {
      grid-column: 3 / span 8;
    }

    p {
      color: var(--Foundation-Black, #1e2221);
      @include text-styles.text-style("mobile-h4");
    }
  }
}
