@use "@/app/styles/generic/mixins";
@use "@/app/styles/generic/text-styles";

.post {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding-bottom: 2rem;

  &__image {
    img {
      height: 13.6875rem;
      width: 100%;

      @include mixins.breakpoint-up(mobile) {
        height: 26.6875rem;
      }
    }

    @include mixins.breakpoint-up(mobile) {
      grid-column: 3 / span 2;
      grid-row: 1 / span 1;
    }
  }

  &__header {
    background: var(--silver-50, #f8f8f8);

    &-container {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding: 0 0 2rem;

      @include mixins.breakpoint-up(mobile) {
        display: grid;
        grid-template-columns: var(--outer-margin-md) repeat(2, minmax(0, 1fr)) var(--outer-margin-md);
        padding: 3.81rem 0;
        gap: 0;
      }

      @include mixins.breakpoint-up(small-desktop) {
        grid-template-columns: var(--outer-margin-lg) repeat(2, minmax(0, 1fr)) var(--outer-margin-lg);
      }
    }

    &-content {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      padding: 0 1rem;

      @include mixins.breakpoint-up(mobile) {
        grid-column: 2 / span 1;
        grid-row: 1 / span 1;
        max-width: 24.5rem;
        place-self: start end;
        padding: 0 1.81rem 0 0;
      }
    }

    &-title {
      display: flex;
      flex-direction: column;
      gap: 0.75rem;

      h1 {
        color: var(--blue-brand, #003f87);
        // @extend.primary-h2;

        @include mixins.breakpoint-up(mobile) {
          font-size: 3rem;
        }
      }
    }

    &-details {
      display: flex;
      gap: 1.5rem;
      align-items: center;

      @include mixins.breakpoint-up(mobile) {
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5rem;
      }

      &-category {
        color: var(--rose);
        // @extend.secondary-copy-small;
      }

      &-date {
        color: var(--copy,);
        // @extend.secondary-copy-small;

        span:first-child {
          color: var(--blue-500);
        }
      }
    }

    // @include mixins.breakpoint-up(mobile) {
    //   grid-column: 2 / span 9;
    // }

    // @include mixins.breakpoint-up(tablet) {
    //   grid-column: 3 / span 8;
    // }
  }

  &__content {
    padding-top: 2rem;
    padding-bottom: 2rem;

    @include mixins.breakpoint-up(mobile) {
      display: grid;
      grid-template-columns: repeat(12, minmax(0, 1fr));
      grid-column-gap: 1.5rem;
    }

    &-editor {
      @include mixins.breakpoint-up(mobile) {
        grid-column: 4 / span 6;
      }
    }
  }
}
