/** @format */

@use "@/app/styles/generic/mixins";
@use "@/app/styles/generic/text-styles";

.editor {
  color: var(--Foundation-Black, #1e2221);
  padding: 0 0.5rem;

  @include mixins.breakpoint-up(mobile) {
    padding: 0 0 0 1.5rem;
  }

  h2 {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      left: -0.5rem;
      top: -1.5rem;
      width: 56px;
      height: 6px;
      background-size: 3px 3px;
      background-image: radial-gradient(circle, var(--Foundation-Signal-Green) 1px, transparent 1px);

      @include mixins.breakpoint-up(mobile) {
        left: -1.5rem;
        top: -2rem;
      }
    }
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 2rem 0 1rem;
    font-family: var(--font-open-sans);

    @include mixins.breakpoint-up(mobile) {
      margin: 5rem 0 1.5rem;
    }

    &:first-child {
      margin-top: 2rem;
    }
  }

  p {
    margin-bottom: 1.5rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  ul {
    list-style: disc;
  }

  ul,
  ol {
    margin: 1.5rem 0 1.5rem 1.5rem;

    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  }

  strong {
    font-weight: 700;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin: 2.5rem 0;
    font-size: var(--desktop-body-default-font-size);
    line-height: var(--desktop-body-default-line-height);
    border: 1px solid var(--Neutral-Mid-Grey);

    th,
    td {
      padding: 0.875rem 1.25rem;
      text-align: left;
      border: 1px solid var(--Neutral-Mid-Grey);
    }

    th {
      font-weight: 600;
      background-color: var(--Foundation-Black);
      color: var(--Foundation-White);
      border-color: var(--Neutral-Dark-Grey);
    }

    tbody tr:nth-child(odd) td {
      background-color: var(--Foundation-White);
    }

    tbody tr:nth-child(even) td {
      background-color: var(--Foundation-Commerce-Canvas);
    }
  }

  a {
    color: var(--Foundation-Operational-Green, #007a4e);
    transition: color 0.3s ease;

    &:focus {
      color: inherit;
    }

    &:hover {
      color: var(--Foundation-Orchestrated-Green, #063e2d);
    }

    &:focus-visible {
      outline: 4px solid var(--Foundation-Operational-Green, #007a4e);

      border-radius: 0.25rem;
      outline-offset: 0.25rem;
    }
  }
}
