@use "@/app/styles/generic/text-styles";
@use "@/app/styles/generic/mixins";

.text-header {
  padding-top: 3rem;
  padding-bottom: 3rem;

  @include mixins.breakpoint-up(mobile) {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  h1 {
  }
}
