@use "@/app/styles/generic/text-styles";
@use "@/app/styles/generic/mixins";

.two-lists-panel {
  padding: 2.5rem 0;

  @include mixins.breakpoint-up(mobile) {
    padding: 2rem 0;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;

    @include mixins.breakpoint-up(mobile) {
      flex-direction: row;
      gap: 7rem;
      align-items: flex-start;
    }
  }

  &__card {
    background: var(--Foundation-Commerce-Canvas, #f2f6f3);
    border-radius: 0.5rem;
    padding: 2rem 1.5rem;

    width: 100%;
    max-width: 29rem;

    @include mixins.breakpoint-up(mobile) {
      flex: 1;
    }
  }

  &__card-inner {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0 1.5rem;
  }

  &__title {
    // color: var(--Foundation-Black, #1e2221);
    @include text-styles.text-style("mobile-h5");

    @include mixins.breakpoint-up(mobile) {
      @include text-styles.text-style("desktop-h5");
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__item {
    display: flex;
    align-items: flex-start;
    gap: 0.5rem;
    padding: 0 1rem;

    &::before {
      content: "";
      display: block;
      width: 0.5rem;
      height: 0.5rem;
      border-radius: 50%;
      background: var(--Foundation-Orchestrated-Green, #063e2d);
      flex-shrink: 0;
      margin-top: 0.55em;
    }
  }

  &__item-text {
    // color: var(--Foundation-Black, #1e2221);
    @include text-styles.text-style("mobile-body-large");

    @include mixins.breakpoint-up(mobile) {
      @include text-styles.text-style("desktop-body-large");
    }
  }
}
