@use "@/app/styles/generic/mixins";

.divider {
  display: block;
  width: 56px;
  height: 6px;
  background-size: 3px 3px;

  &--white {
    background-image: radial-gradient(circle, var(--Foundation-White, #fff) 1px, transparent 1px);
  }

  &--signal-green {
    background-image: radial-gradient(circle, var(--Foundation-Signal-Green, #00d180) 1px, transparent 1px);
  }

  &--foundation-green {
    background-image: radial-gradient(circle, var(--Foundation-Orchestrated-Green, #063e2d) 1px, transparent 1px);
  }
}
